            <!-- Service Start  -->
            <div class="page-not-found">
                <div class="container">
                    <div class="row ">
                        <!-- Title Content Start -->
                        <div class="col-sm-12 col-xs-12 commontop text-center">
                            <h4>Thank You</h4>
                            <div class="divider style-1 center">
                                <span class="hr-simple left"></span>
                                <i class="icofont icofont-ui-press hr-icon"></i>
                                <span class="hr-simple right"></span>
                            </div>
                            <div class="thanks-content">
                                <h3><i class="icofont icofont-tick-mark"></i> Congratulations. <br>Your order was Completed Successfully.</h3>
                                <p>We have received your order.<br> We will send you an Email or SMS the moment your order items are ready.</p>

                                <a class="btn btn-theme btn-wide" href="/order">Go to home</a>
                            </div>
                        </div>
                        <!-- Title Content End -->
                    </div>
                </div>
            </div>
            <!-- Service End   -->
