<!doctype html>
<html class="no-js" lang="">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OCMS Managers Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    {{!-- <link rel="stylesheet" href="/assets/css/jvectormap/jquery-jvectormap-2.0.3.css"> --}}
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="stylesheet"type="text/less"  href="/assets/css/bubble.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="/"><h3 style="color:white">OCMS Managers' Portal</h3></a>
                    </div>
                </div>
                           </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demoevent" href="#">Product Status</a>
                                </li>
                                <li><a data-toggle="collapse" data-target="#democrou" href="#">Add New Products</a>
                                </li>
                                 </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        </li>
                        <li><a data-toggle="tab" id="prodOverview" href="#mailbox"><i class="notika-icon notika-app"></i> Product Status</a>
                        </li>
                        <li><a data-toggle="tab" id="addProd" href="#Interface"><i class="notika-icon notika-edit"></i> Add New Products</a>
                        </li>
                        <li><a data-toggle="tab" id="salesReport" href="#tableChart1"><i class="notika-icon notika-bar-chart"></i> Sales Report</a>
                        </li>
                        <li><a data-toggle="tab" id="feedback" href="#tableChart1"><i class="notika-icon notika-star"></i> Customer Rating</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->

    <!-- Start Email Statistic area-->
    {{!-- <div class="notika-email-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="email-statis-inner notika-shadow">
                        <div class="email-ctn-round">
                            <div class="email-rdn-hd">
								<h2>Burger</h2>
							</div>
                            <div class="email-statis-wrap">
                                <div class="email-round-nock">
                                    <input type="text" class="knob" value="0" data-rel="55" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
                                </div>
                                <div class="email-ctn-nock">
                                    <p>Black Bean Burger</p>
                                </div>
                                <!-- 2 -->
                                <div class="email-statis-wrap">
                                        <div class="email-round-nock">
                                            <input type="text" class="knob" value="0" data-rel="65" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
                                        </div>
                                        <div class="email-ctn-nock">
                                            <p>Chicken Burger</p>
                                        </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="email-statis-inner notika-shadow">
                            <div class="email-ctn-round">
                                <div class="email-rdn-hd">
                                    <h2>Pizza</h2>
                                </div>
                                <div class="email-statis-wrap">
                                    <div class="email-round-nock">
                                        <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Total Emails Sent</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div> --}}
    {{{body}}}

     <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © Rutger BootCamp Project 2 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/assets/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/assets/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/assets/js/counterup/jquery.counterup.min.js"></script>
    <script src="/assets/js/counterup/waypoints.min.js"></script>
    <script src="/assets/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    {{!-- <script src="/assets/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/assets/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/js/jvectormap/jvectormap-active.js"></script> --}}
    <!-- sparkline JS
		============================================ -->
    <script src="/assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/assets/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/assets/js/flot/jquery.flot.js"></script>
    <script src="/assets/js/flot/jquery.flot.resize.js"></script>
    <script src="/assets/js/flot/curvedLines.js"></script>
    <script src="/assets/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="/assets/js/knob/jquery.knob.js"></script>
    <script src="/assets/js/knob/jquery.appear.js"></script>
    <script src="/assets/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/assets/js/wave/waves.min.js"></script>
    <script src="/assets/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/assets/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/assets/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="/assets/js/chat/moment.min.js"></script>
    <script src="/assets/js/chat/jquery.chat.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/assets/js/main.js"></script>
	<!-- tawk chat JS
		============================================ -->
    {{!-- <script src="/assets/js/tawk-chat.js"></script> --}}
     <script src="/assets/js/manager.js"></script>
</body>

</html>
