    <div class="notika-email-post-area">
        <div class="container">
            <div style="display:block" id="bubbleChart" class="row"></div>
        </div>
    </div>
<div class="container tableView">
  <div style="display:none" id="tableChart1" class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Pizza</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px">Product</th>
                                            <th style="width: 60px">Sold</th>
                                            <th style="width: 60px">Available</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pizzaTab">
                                        {{!-- <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
{{!-- ============================== --}}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Burger</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 400px">Product</th>
                                            <th style="width: 60px">Sold</th>
                                            <th style="width: 60px">Available</th>
                                        </tr>
                                    </thead>
                                    <tbody id="burgerTab">
                                        {{!-- <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>


  {{!-- ============================== --}}
  {{!-- ============================== --}}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Sandwich</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 1000px">Product</th>
                                            <th style="width: 60px">Sold</th>
                                            <th style="width: 60px">Available</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sandwichTab">
                                        {{!-- <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
    </div>
  </div>
</div>

  {{!-- ============================== --}}
  {{!-- ============================== --}}
  <div class="container tableView">
  <div style="display:none" id="tableChart2" class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Salad</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px">Product</th>
                                            <th style="width: 60px">Sold</th>
                                            <th style="width: 60px">Available</th>
                                        </tr>
                                    </thead>
                                    <tbody id="saladTab">
                                        {{!-- <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>


  {{!-- ============================== --}}
  {{!-- ============================== --}}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Mexican</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px">Product</th>
                                            <th style="width: 60px">Sold</th>
                                            <th style="width: 60px">Available</th>
                                        </tr>
                                    </thead>
                                    <tbody id="mexTab">
                                        {{!-- <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>


  {{!-- ============================== --}}
  {{!-- ============================== --}}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Asian</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px">Product</th>
                                            <th style="width: 60px">Sold</th>
                                            <th style="width: 60px">Available</th>
                                        </tr>
                                    </thead>
                                    <tbody id="asianTab">
                                        {{!-- <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">Samsung Galaxy Mega</td>
                                            <td>9</td>
                                            <td class="f-500 c-cyan">25</td>
                                        </tr> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>


  {{!-- ============================== --}}
    </div>
  </div>
</div>
{{!-- ==============================End of Table ============================== --}}

<div id="addMenuForm" class="form-example-area">
        <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div style="display: none" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 addMenuForm">
                    <div class="form-example-wrap">
                        <form action="#" class="p-5 bg-white">
                <div class="row form-group">
                  <h2 style="text-align: center"> Add new dishes to the menu.</h2>
                  <div class="col-md-6">
                    <label class="text-black">Title</label>
                    <input type="text" id="title" class="form-control" placeholder="Title">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black">Highlights</label>
                    <input type="text" id="des" class="form-control" placeholder="Meat/Veggies/Sauce">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black">Title Code</label>
                    <input type="text" id="uniq_title" class="form-control" placeholder="cheesePizza/bltSandwich">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black">Price</label>
                    <input type="text" id="price" class="form-control" placeholder="$">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black">Image Location</label>
                    <input type="text" id="img_loc" class="form-control" placeholder="Recommended size 130X130">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-6">
                    <label class="text-black" for="dollar">Category/Cuisine</label>
                    <select id="category" class="form-control">
                      <option value="Pizza">Pizza</option>
                      <option value="Burger">Burger</option>
                      <option value="Sandwich">Sandwich</option>
                      <option value="Salad">Salad</option>
                      <option value="Mexican">Mexican</option>
                      <option value="Asian">Asian</option>
                    </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-8 mb-3 mb-md-0">
                    <label class="text-black">Description</label>
                    <textarea id="menu_text" class="form-control" placeholder="Brief description about the dish"></textarea>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-4">
                    <button class="btn-primary btn-md btn-block btn notika-add-todo waves-effect" type="submit" id="addMenu">Add to Menu</button>                  </div>
                </div>


              </form>
            </div>

            </div>
        </div>

{{!-- ============Customer Rating============ --}}
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>

<div id="custRating" style='display:none' class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Customer Rating</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px">Customer Email</th>
                                            <th style="width: 200px">Item </th>
                                            <th style="width: 50px">Stars</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cusRatingTab"></tbody>
                                </table>
                </div>
            </div>
        </div>
    </div>

{{!-- ============Customer Rating============ --}}

    </div>
